---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
---
Language: Cpp
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentWrappedFunctionNames: true
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true

IncludeCategories:
  - Regex: '<[[:alnum:].]+>'
    Priority: 10
  - Regex: '^"Kaleidoscope.h"'
    Priority: 20
    SortPriority: 1
  - Regex: '^"Kaleidoscope-LEDEffect.*"'
    Priority: 20
    SortPriority: 21
  - Regex: '^"Kaleidoscope-.*"'
    Priority: 20
  - Regex: '.*'
    Priority: 25

# Local Variables:
# mode: yaml
# End:
