---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
---
Language: Cpp
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: true
SortIncludes: true
IncludeBlocks: Regroup
FixNamespaceComments: true
ReflowComments: true
AlignTrailingComments: true
PointerAlignment: Left

# Local Variables:
# mode: yaml
# End:
